<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>aad web application</title>
    <meta charset="utf-8"/>
</head>

<body>

<h2>Facility Request</h2>

<form th:action="@{/userInfo}">
    <input type="submit" value="Login" />
</form>

<form th:action="@{/logout}">
    <input type="submit" value="Logout" />
</form>

<form th:action="@{/requestStandingDesk}">
    <input type="submit" value="Request standing desk" />
</form>


</body>
</html>
